<div class="contents-title follow-title text-center">
  <h1>フォロワー 一覧</h1>
</div>
<p><%= render "users_page" %></p>
<div class="text-center">
<%= link_to "← もどる", user_path(id: current_user.id), class: "btn btn-primary text-center" %>
</div>