/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";

/***** 共通  *****/
@font-face {
  font-family: 'aoyagireishosimo2_O';
  src: font-url('aoyagireisyosimo_otf_2_01.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  background-color: #f8f4e6;
}

h1,h2,.navbar-brand,.nav-link{
  font-family: aoyagireishosimo2_O;
}

h2{
  background-image: image-url('h_line.png');
  background-repeat:no-repeat;
  background-position: bottom -10px center;
  background-size:50% 100%;
  text-align:center;
}

/***** ナビゲーションバー  *****/
.navbar .dropdown-menu div[class*='col'] {
  margin-bottom: 1rem;
}

.bg-primary {
  background-color: #383c3c !important;
}

.navbar .dropdown-menu {
  border: none;
  background-color: #383c3c !important;
}

/***** ドロップダウンリストのスタイル *****/
@media screen and (min-width: 992px) {
.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar .nav-item {
  padding: 0.5rem 0.5rem;
  margin: 0 0.25rem;
}

.navbar {
  position: static;
}

.navbar .dropdown-menu {
  top: 45px;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}

.navbar .dropdown:hover .dropdown-menu,
.navbar .dropdown .dropdown-menu:hover {
  display: block;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s linear;
}

.navbar .dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
}

  .flex-column {
  flex-direction: column !important;
  width: max-content;
}

/***** フッター *****/
footer {
  background-color: #383c3c;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

/***** 戻るボタン *****/
#page_top{
  width: 40px;
  height: 40px;
  position: fixed;
  right: 100px;
  bottom: 20px;
  background: #ba2636;
  opacity: 0.6;
}

#page_top a{
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  text-decoration: none;
}

#page_top a::after{
  content: '▲';
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 10px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 992px) {
  #page_top{
  right: 50px;
  }
}