/***** 投稿画像 カルーセル *****/
.wrapper {
  width: auto;
  height: 100%;

  .thumbnail { 
    max-width: 500px; 
    margin: 0 auto 5px; 
    padding: 0;
  }

  .thumbnail img,.thumbnail-nav img { 
    width: 100%;
  }

  .thumbnail-thumb { 
    max-width: 500px; 
    margin: 0 auto;
  }

  .thumbnail-thumb li { 
    margin: 5px;
  }

  .thumbnial-thumb .slick-next {
    right: 20px;
    z-index: 100;
  }

  .thumbnail-thumb .slick-prev {
    left: 15px;
    z-index: 100;
  }

  .thumbnail-thumb .slick-current {
    opacity: 0.5;
  }

  .thumbnail-thumb div div div {
    cursor: pointer;
  }

  .thumbnail-thumb .slick-track {
    transform: unset !important;
  }
}

/***** 投稿画像 モーダル *****/
.course {
  background-color: #e3fcf3;
}

.course-wrapper {
  display: flex;
  justify-content: space-between;
}

.course-item {
  width: 30%;
}

.course-item img {
  cursor: pointer;
}
.section {
  padding: 60px;
}

#grayDisplay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* コンテンツ全てに対して固定的に 1160pxとか指定されているときの対応で、
  ダサいが!importantつける */
  max-width: 100% !important;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

#grayDisplay img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
  height: 90%;
  object-fit: contain;
}
