/***** 投稿画像 カルーセル *****/
.wrapper {
  width: auto;
  height: 100%;

  .thumbnail { 
    max-width: 500px; 
    margin: 0 auto 5px; 
    padding: 0;
  }

  .thumbnail img,.thumbnail-nav img { 
    width: 100%;
  }

  .thumbnail-thumb { 
    max-width: 500px; 
    margin: 0 auto;
  }

  .thumbnail-thumb li { 
    margin: 5px;
  }

  .thumbnial-thumb .slick-next {
    right: 20px;
    z-index: 100;
  }

  .thumbnail-thumb .slick-prev {
    left: 15px;
    z-index: 100;
  }

  .thumbnail-thumb .slick-current {
    opacity: 0.5;
  }

  .thumbnail-thumb div div div {
    cursor: pointer;
  }

  .thumbnail-thumb .slick-track {
    transform: unset !important;
  }
}