<footer class="text-muted">
  <div class="container">
    <p><%= link_to "もどる", user_path(id: current_user.id) %></p>
    <p class="float-right">
      <div id="page_top"><a href="#"></a></div>
    </p>
    <p>&copy; Asuka Ishimaru.</p>
  </div>
</footer>
